@model AirportSample.Models.cityinfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cityinfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LONG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CITY }) |
    @Html.ActionLink("Back to List", "Index")
</p>
